@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap");

/* Css variables */
:root {
  --primary-font: "raleway", sans-serif;
  --secondary-font: "tangerine", sans-serif;
  --primary-color: #201109; /* Dark Brown */
  --secondary-color: #ffad1f; /* Golden Orange*/
}

/* General styles */
body {
  font-family: var(--primary-font);
  background-color: var(--primary-color);
}

h1,
h2 {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}

p,
label {
  color: white;
}

.sub-heading {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 40px;
}

.custom-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
}

.text-lg {
  font-size: x-large;
}

/* Navbar */
#navbar {
  background-color: var(--primary-color);
}

#navbar a {
  color: var(--secondary-color);
}

#navbar a:hover {
  color: white;
}

#navbar .logo {
  width: 50px;
}

#navbar .active {
  color: white;
}

/* Header */
#header h1 {
  color: var(--secondary-color);
}

/* Services section */
#services .card-body {
  background-color: var(--primary-color);
}

/* Menu section */
#starters h2,
#mains h2,
#desserts h2,
#gallery h2 {
  padding: 30px 0px;
}

#starters li {
  color: white;
  padding-bottom: 0.5rem;
}

#mains li {
  color: white;
  padding-bottom: 0.5rem;
}

#desserts li {
  color: white;
  padding-bottom: 0.5rem;
}

/* Confirmation section */
#confirmation {
  padding-top: 20%;
}

/* Footer/Socials */
#socials div {
  display: flex;
  justify-content: space-evenly;
  font-size: 3rem;
  background-color: var(--primary-color);
}

#socials i {
  color: var(--secondary-color);
}

#socials i:hover {
  color: white;
}

/* Media queries */
/* Extra small device (<576px and up) */
@media screen and (min-width: 320px) {
  #starters .img-height,
  #mains .img-height,
  #desserts .img-height {
    min-height: 296px;
  }

  #gallery .img-height {
    min-height: 395px;
  }
}

/* Smaller device (425px and up) */
@media screen and (min-width: 425px) {
  #starters .img-height,
  #mains .img-height,
  #desserts .img-height {
    min-height: 450px;
  }

  #gallery .img-height {
    min-height: 535px;
  }
}


/* Small device (576px and up) */
@media screen and (min-width: 576px) {
  #starters .img-height,
  #mains .img-height,
  #desserts .img-height {
    min-height: 516px;
  }

  #gallery .img-height {
    min-height: 687px;
  }
}

/* Medium device (768px and up) */
@media screen and (min-width: 768px) {
  #services .card-text {
    min-height: 238px;
  }

  #gallery .img-height {
    min-height: 927px;
  }
}

/* Large device (992px and up) */
@media screen and (min-width: 992px) {
  #contact .middle {
    margin-top: 25%;
  }

  #contact .phone-pl {
    padding-left: 150px;
  }

  #services .card-text {
    min-height: 166px;
  }
  
  #header .img-fluid {
    min-height: 363px;
  }
}

/* Extra-large device (1200px and up) */
@media screen and (min-width: 1200px) {
  #services .card-text {
    min-height: 142px;
  }
}

/* Extra-extra-large device (1400px and up) */
@media screen and (min-width: 1400px) {
  #services .card-text {
    min-height: 118px;
  }

  #starters .img-height,
  #mains .img-height,
  #desserts .img-height {
    min-height: 636px;
  }

  #gallery .img-height {
    min-height: 687px;
  }
}
