@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');

/* Css variables */
:root {
    --primary-font : "raleway", sans-serif;
    --secondary-font : "tangerine", sans-serif;
}

/* General styles */
body {
    font-family: var(--primary-font);
}

h1 {
    font-family: var(--secondary-font);
}

.sub-heading {
    font-family: var(--secondary-font);
}
