@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');

/* Css variables */
:root {
    --primary-font : "raleway", sans-serif;
    --secondary-font : "tangerine", sans-serif;
    --primary-color : #201109; /* Dark Brown */
    --secondary-color : #ffad1f; /* Golden Orange*/
}

/* General styles */
body {
    font-family: var(--primary-font);
}

h1, 
h2 {
    font-family: var(--secondary-font);
}

.sub-heading {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 40px;
}

/* Navbar */
#navbar {
    background-color: var(--primary-color);
}

#navbar a {
    color: var(--secondary-color);
}

#navbar a:hover {
    color: white;
}

/* Header */
#header
h1,
p {
    color: white;
}

#header h1 {
    color: var(--secondary-color);
}

#header .bg {
    background-color: var(--primary-color);
}

/* Services section */
#services .card-body  {
    background-color: var(--primary-color);
}

#services .card-text {
    color: white;
}
